<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.system.mapper.SysEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tml.system.entity.SysEnterprise">
        <id column="id" property="id"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="code" property="code"/>
        <result column="legal_person" property="legalPerson"/>
        <result column="industry_code" property="industryCode"/>
        <result column="address" property="address"/>
        <result column="telephone" property="telephone"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

</mapper>
