<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tml.system.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="dept_id" property="deptId"/>
        <result column="deptName" property="deptName"/>
        <result column="job_id" property="jobId"/>
        <result column="jobName" property="jobName"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="del_flag" property="delFlag"/>
        <collection property="roleList" ofType="com.tml.system.entity.SysRole"
                    select="com.tml.system.mapper.SysRoleMapper.listRolesByUserId" column="user_id">
        </collection>
    </resultMap>


    <select id="pageList" resultMap="BaseResultMap">
        SELECT
        `user`.user_id,
        `user`.username,
        `user`.phone,
        `user`.email,
        `user`.avatar,
        `user`.enterprise_id AS enterpriseId,
        `user`.dept_id AS deptId,
        `user`.job_id AS jobId,
        `user`.create_time,
        `user`.update_time,
        `user`.del_flag,
        `user`.lock_flag,
        e.enterprise_name AS enterpriseName,
        d.dept_name AS deptName,
        j.job_name AS jobName
        FROM
        sys_user AS `user`
        LEFT JOIN sys_enterprise e ON e.id = `user`.enterprise_id
        LEFT JOIN sys_dept AS d ON d.dept_id = `user`.dept_id AND d.enterprise_id = `user`.enterprise_id
        LEFT JOIN sys_job AS j on j.job_id=`user`.job_id
        <where>
            <if test="ew.username != null and ew.username != ''">
                and `user`.username LIKE CONCAT('%',#{ew.username},'%')
            </if>
            <if test="ew.enterpriseId != null and ew.enterpriseId != ''">
                and `user`.enterprise_id in
                <foreach item="item" collection="ew.enterpriseIdList" separator="," open="(" close=")" index="">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
            and `user`.del_flag = '0'
        </where>
        ORDER BY `user`.create_time DESC
    </select>

    <!-- 通过用户ID查询数据权限 -->
    <select id="findDataPermsByUserId" resultType="java.lang.Integer">
        select t.enterprise_id from sys_role_enterprise t
        LEFT JOIN sys_user_role t2 on t.role_id=t2.role_id
        where t2.user_id=#{userId}
        UNION
        SELECT t.enterprise_id from sys_user t
        where t.user_id=#{userId}
    </select>

</mapper>
