<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.server.job.mapper.JobMapper">
    <select id="queryList" resultType="com.tml.server.job.entity.Job">
        SELECT
        JOB_ID AS jobId,
        JOB_TYPE AS jobType,
        BEAN_NAME AS beanName,
        METHOD_NAME AS methodName,
        SERVICE_ID AS serviceId,
        PATH AS path,
        REQUEST_METHOD AS requestMethod,
        CONTENT_TYPE AS contentType,
        ALARM_MAIL AS alarmMail,
        params,
        CRON_EXPRESSION AS cronExpression,
        STATUS,
        REMARK,
        CREATE_TIME AS createTime
        FROM
        t_schedule_job
        ORDER BY CREATE_TIME DESC
    </select>
</mapper>