<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.server.system.mapper.SysUserDataPermissionMapper">


    <select id="findUserDataPermissions" parameterType="long" resultType="com.tml.api.system.entity.SysUserDataPermission">
        select user_id userId, dept_id deptId from t_sys_user_data_permission
        where user_id = #{userId}
    </select>
</mapper>
