<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tml.gateway.mapper.GatewayBlackListLogMapper">
    <resultMap id="BaseResultMap" type="com.tml.gateway.entity.GatewayBlackListLog">
        <id column="id" property="id"></id>
        <result column="ip" property="ip" />
        <result column="request_uri" property="requestUri"/>
        <result column="request_method" property="requestMethod"/>
        <result column="location" property="location" />
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>
