<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.gateway.mapper.GatewayDynamicRouteMapper">
    <resultMap id="BaseResultMap" type="com.tml.gateway.entity.GatewayDynamicRoute">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="route_name" property="routeName" jdbcType="VARCHAR"/>
        <result column="route_id" property="routeId" jdbcType="VARCHAR"/>
        <result column="route_uri" property="routeUri" jdbcType="VARCHAR"/>
        <result column="route_order" property="routeOrder"/>
        <result column="predicates" property="predicates"/>
        <result column="filters" property="filters"/>
        <result column="enable" property="enable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId"/>
    </resultMap>

</mapper>
